<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="/js/vue.js"></script>
</head>
<body>
    <div id="root">
        我的性<input type="text" v-model="firstNanme"></br></br>
        我的名<input type="text" v-model="lastName"></br>
        我的名字是： {{getInfo()}}
    <script type="text/javascript">
        const vm = new Vue({
            el:'#root',
            data:{
                firstNanme:'张',
                lastName:'三'
            },
            methods:{
                getInfo() {
                    return this.firstNanme.slice(0,3) + '-' + this.lastName
                }
            }
        }) 
    </script>
</body>
</html>