<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="/js/vue.js"></script>
</head>
<body>
    <div id="root">
        <input type="text" v-model="inputValue" placeholder="输入阿">
        <button @click="typeSort=2">升序</button>
        <button @click="typeSort=1">降序</button>
        <button @click="typeSort=0">原序</button>
        <div v-for="(item, index) in filPeopleList" :key="item.id">
            {{item.name}}---{{item.age}}--{{item.sex}}
        </div>
    </div>
    <script type="text/javascript">
        const vm = new Vue({
            el:'#root',
            data:{
                peopleList:[
                    {id:'001',name:"李四五",age:16,sex:'男'},
                    {id:'002',name:"李五四",age:17,sex:'男'},
                    {id:'003',name:"李六七",age:18,sex:'男'},
                    {id:'004',name:"李七六",age:19,sex:'男'},
                ],
                inputValue:'',
                typeSort:''
            },
            computed:{
                filPeopleList() {
                    const arr = this.peopleList.filter((p)=>{
                        return p.name.indexOf(this.inputValue) != -1
                    })
                    if(this.typeSort) {
                        arr.sort((p1,p2)=>{
                            return this.typeSort == 1 ? p2.age - p1.age : p1.age - p2.age
                        })
                    }
                    return arr
                }
            }
        })
    </script>
</body>
</html>